
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/aluno")
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="col-md-1">Nome:</div>
    <div class="col-md-3"><input type="text" id="nomeAluno" /></div>
    <div class="col-md-1">Telefone:</div>
    <div class="col-md-3"><input type="text" id="TelAluno" /></div>
    <div class="col-md-1">CPF:</div>
    <div class="col-md-3"><input type="text" id="CPFAluno" /></div>
    <div class="col-md-1">Email:</div>
    <div class="col-md-3"><input type="text" id="emailAluno" /></div>
    <div>
        <table id="tblResultAluno" width="100%">
            <thead>
                <tr>
                    <th>Nome aluno</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Clique para pesquisar um aluno utilizando os filtros da tela.
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <input type="button" id="btnNovo" value="Novo" class="btn btn-primary" />
    </div>
    <div>
        <input type="button" id="btnPesquisar" value="Pesquisar" class="btn btn-primary" />
    </div>
</body>
</html>
